---
import Layout from '@layouts/Layout.astro';
import { Navigation } from '@components/common/Navigation';
import Footer from '@components/common/Footer.astro';
import Hero from '@components/sections/Hero.astro';
import About from '@components/sections/About.astro';
import { Skills } from '@components/sections/Skills';
import { Projects } from '@components/sections/Projects';
import { Contact } from '@components/sections/Contact';
---

<Layout title="Portfolio - Front End Engineer">
  <Navigation client:load />
  
  <main>
    <Hero />
    <About />
    <Skills client:visible />
    <Projects client:visible />
    <Contact client:visible />
  </main>
  
  <Footer />
</Layout>
